body {
  font-family: 'Open Sans', sans-serif;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.nav-control {
  margin-left: auto;
  display: flex;
}

.nav-control > div {
  padding-left: 10px;
  padding-right: 10px;
}

.input-group {
  display: table;
}

.input-element {
  border-radius: 10px;
  font-size: 11px;
  padding: 5px 10px;
  background-color: #eee;
  border: 1px solid #ddd;
}

.input-element.select {
  border: none;
}

.control-item {
  padding-right: 15px;
  padding-left: 15px;
}

main {
  position: fixed;
  top: 40px;
  left: 0;
  height: 100%;
  width: 100%;
}

.scrollable {
  overflow: scroll;
}

.left-half {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.right-half {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
}

details {
  font-size: 1.3em;
  padding-left: 20px;
  padding-top: 15px;
}

details > summary {
  padding: 2px 6px;
  border: none;
  cursor: pointer;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

article {
  font-size: 1.1em;
  line-height: 1.6em;
  color: #262626;
  padding: 30px;
  font-weight: lighter;
}

article > h1 {
  font-size: 2.3em;
  font-weight: normal;
  color: #2376ae;
}

article > h2 {
  border-bottom: 1px solid #888;
}

article > pre {
  padding: 15px;
  border: 1px solid #bbb;
  border-radius: 10px;
  background-color: #eee;
}

article code {
  background-color: #f5f3ff;
}

article > table {
  margin-top: 30px;
}

.side-menu-layout {
  display: flex;
}

.side-nav {
  flex: 0 0 200px;
  font-size: 1.2em;
  line-height: 1.7em;
}

.side-nav ul li {
  list-style-type: none;
}

.side-nav ul li a {
  text-decoration: none;
  color: #393939;
}

.container {
  flex: 1 auto;
  font-size: 1.1em;
  line-height: 1.6em;
  font-weight: 400;
}

.container ul li {
  list-style-type: none;
}

#provider-name {
  padding-inline-start: 40px;
  font-size: 2.3em;
  font-weight: normal;
  color: #2376ae;
}

.button {
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial, serif;
  text-decoration: none;
}
.button:hover {
  background-color: #ffffff;
}
.button:active {
  position: relative;
  top: 1px;
}

.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
