{{#assets}}
import {{{importName}}} from '{{{importPath}}}';
{{/assets}}

export const groupMap = {
{{#assets}}
  {{{importName}}}: '{{{group}}}',
{{/assets}}
};

export {
{{#assets}}
  {{{importName}}},
{{/assets}}
};
