<div class="column side-bar overflow-y">
    <ul class="section">
    {%- for provider in providers %}
        <li>
            <a title="{{provider.name | upper}}" href="#{{provider.name | lower}}">{{provider.name | upper}}</a>
            <ul class="sub-section">
            {%- for group in provider.groups %}
                <li>
                    <a title="{{group.name | capitalize}}" href="#{{provider.name | lower}}_{{group.name | lower | replace(" ", "_")}}">{{group.name | capitalize}}</a>
                </li>
            {%- endfor %}
            </ul>
        </li>
    {%- endfor %}
    </ul>
</div>
<div class="column overflow-y">
{%- for provider in providers %}
    <h1 id="{{provider.name | lower}}">{{provider.name | upper}}</h1>
    {%- for group in provider.groups %}
        <h3 id="{{provider.name | lower}}_{{group.name | lower | replace(" ", "_")}}">{{group.name | capitalize}}</h3>
        <ul>
            {%- for asset in group.assets %}
                <li>{{provider.name | lower}}.{{asset.importName}}</li>
            {%- endfor %}
        </ul>
    {%- endfor %}
{%- endfor %}
</div>
